[submodule "thirdparty/python-cmake"]
    path = thirdparty/python-cmake
    url = ../python-cmake
    branch = main
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = ../../pybind/pybind11
	branch = stable
